--
-- PostgreSQL database dump
--

\restrict GI10YfalcRiV3PwRiP9B4F0y8C6ouLipUXc1yQO44x41IQIzRKl8Y3QsnqdVBCu

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO ritz;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO ritz;

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO ritz;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO ritz;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO ritz;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO ritz;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."AspNetUsers" (
    "Id" text NOT NULL,
    "FireBaseUid" text NOT NULL,
    "FirstName" character varying(50) NOT NULL,
    "LastName" character varying(50) NOT NULL,
    "SchoolName" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UniversityId" integer,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO ritz;

--
-- Name: Categories; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."Categories" (
    "Id" integer NOT NULL,
    "Name" character varying(50) NOT NULL,
    "Description" text NOT NULL,
    "isActive" boolean NOT NULL
);


ALTER TABLE public."Categories" OWNER TO ritz;

--
-- Name: Categories_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."Categories" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Categories_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ClubRequests; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."ClubRequests" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "Description" text NOT NULL,
    "UniversityId" integer NOT NULL,
    "CategoryId" integer NOT NULL,
    "UserId" text,
    "RequestStatus" integer NOT NULL,
    "RequestedAt" timestamp with time zone NOT NULL,
    "ProcessedAt" timestamp with time zone,
    "RejectionReason" text,
    "TagIdsJson" text
);


ALTER TABLE public."ClubRequests" OWNER TO ritz;

--
-- Name: ClubRequests_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."ClubRequests" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ClubRequests_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ClubTag; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."ClubTag" (
    "ClubsId" integer NOT NULL,
    "TagsId" integer NOT NULL
);


ALTER TABLE public."ClubTag" OWNER TO ritz;

--
-- Name: Clubs; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."Clubs" (
    "Id" integer NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Description" text NOT NULL,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LogoUrl" text NOT NULL,
    "ClubLocation" text NOT NULL,
    "Slug" text NOT NULL,
    "CategoryId" integer NOT NULL,
    "UniversityId" integer NOT NULL
);


ALTER TABLE public."Clubs" OWNER TO ritz;

--
-- Name: Clubs_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."Clubs" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Clubs_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ReviewFlags; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."ReviewFlags" (
    "Id" integer NOT NULL,
    "ReviewId" integer NOT NULL,
    "UserId" text NOT NULL,
    "Reason" text NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL
);


ALTER TABLE public."ReviewFlags" OWNER TO ritz;

--
-- Name: ReviewFlags_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."ReviewFlags" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ReviewFlags_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ReviewVotes; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."ReviewVotes" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ReviewId" integer NOT NULL,
    "Value" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."ReviewVotes" OWNER TO ritz;

--
-- Name: ReviewVotes_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."ReviewVotes" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ReviewVotes_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Reviews; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."Reviews" (
    "Id" integer NOT NULL,
    "LeadershipRating" integer NOT NULL,
    "InclusivityRating" integer NOT NULL,
    "NetworkingRating" integer NOT NULL,
    "SkillsDevelopmentRating" integer NOT NULL,
    "OverallRating" numeric NOT NULL,
    "Comment" text NOT NULL,
    "Recommendation" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "ClubId" integer NOT NULL,
    "UserId" text,
    "NetScore" integer NOT NULL
);


ALTER TABLE public."Reviews" OWNER TO ritz;

--
-- Name: Reviews_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."Reviews" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Reviews_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: SavedClubs; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."SavedClubs" (
    "Id" integer NOT NULL,
    "ClubId" integer NOT NULL,
    "SavedAt" timestamp with time zone NOT NULL,
    "UserId" text,
    "ClubId1" integer
);


ALTER TABLE public."SavedClubs" OWNER TO ritz;

--
-- Name: SavedClubs_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."SavedClubs" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."SavedClubs_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Tags; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."Tags" (
    "Id" integer NOT NULL,
    "Name" character varying(50) NOT NULL
);


ALTER TABLE public."Tags" OWNER TO ritz;

--
-- Name: Tags_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."Tags" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Tags_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Universities; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."Universities" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "SecondaryName" text NOT NULL,
    "Description" text NOT NULL,
    "Location" character varying(100) NOT NULL,
    "Slug" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LogoUrl" text NOT NULL,
    "OfficialWebsite" text NOT NULL
);


ALTER TABLE public."Universities" OWNER TO ritz;

--
-- Name: Universities_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."Universities" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Universities_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: UniversityRequests; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."UniversityRequests" (
    "Id" integer NOT NULL,
    "UniversityName" text NOT NULL,
    "SchoolType" text NOT NULL,
    "Location" text NOT NULL,
    "OfficialWebsite" text,
    "AdditionalInfo" text,
    "UserId" text,
    "RequestStatus" integer NOT NULL,
    "RequestedAt" timestamp with time zone NOT NULL,
    "ProcessedAt" timestamp with time zone,
    "RejectionReason" text
);


ALTER TABLE public."UniversityRequests" OWNER TO ritz;

--
-- Name: UniversityRequests_Id_seq; Type: SEQUENCE; Schema: public; Owner: ritz
--

ALTER TABLE public."UniversityRequests" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."UniversityRequests_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: UserTag; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."UserTag" (
    "TagsId" integer NOT NULL,
    "UsersId" text NOT NULL
);


ALTER TABLE public."UserTag" OWNER TO ritz;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: ritz
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO ritz;

--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."AspNetRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
dd6738bf-4381-47c4-bd0b-7192a5ab1ccc	User	USER	\N
fd5051bd-d6f3-4b72-ad14-c245a1cf2ad1	Administrator	ADMINISTRATOR	\N
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."AspNetUsers" ("Id", "FireBaseUid", "FirstName", "LastName", "SchoolName", "CreatedAt", "UniversityId", "UserName", "NormalizedUserName", "Email", "NormalizedEmail", "EmailConfirmed", "PasswordHash", "SecurityStamp", "ConcurrencyStamp", "PhoneNumber", "PhoneNumberConfirmed", "TwoFactorEnabled", "LockoutEnd", "LockoutEnabled", "AccessFailedCount") FROM stdin;
\.


--
-- Data for Name: Categories; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."Categories" ("Id", "Name", "Description", "isActive") FROM stdin;
1	Technology	Clubs related to technology. Includes Computer Science, Computer and Electrical Engineering.	f
2	Sports	Clubs related to Sports. Includes physical and mental sports.	f
\.


--
-- Data for Name: ClubRequests; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."ClubRequests" ("Id", "Name", "Description", "UniversityId", "CategoryId", "UserId", "RequestStatus", "RequestedAt", "ProcessedAt", "RejectionReason", "TagIdsJson") FROM stdin;
\.


--
-- Data for Name: ClubTag; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."ClubTag" ("ClubsId", "TagsId") FROM stdin;
\.


--
-- Data for Name: Clubs; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."Clubs" ("Id", "Name", "Description", "IsActive", "CreatedAt", "LogoUrl", "ClubLocation", "Slug", "CategoryId", "UniversityId") FROM stdin;
1	Tech Robotics Association	Robotics Club	t	2025-08-20 17:48:26.799284+00		Engineering Center Basement, Room 100		1	1
2	Google Development Student Club	Software Engineering Club	t	2025-08-20 17:48:26.799286+00		Livermore Center, Room 101		1	1
3	Chess Club	A club for playing chess	t	2025-08-20 17:48:26.799286+00		The SUB, Second floor, Room 237.		2	1
\.


--
-- Data for Name: ReviewFlags; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."ReviewFlags" ("Id", "ReviewId", "UserId", "Reason", "Timestamp") FROM stdin;
\.


--
-- Data for Name: ReviewVotes; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."ReviewVotes" ("Id", "UserId", "ReviewId", "Value", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Reviews; Type: TABLE DATA; Schema: public; Owner: ritz
--



--
-- Data for Name: SavedClubs; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."SavedClubs" ("Id", "ClubId", "SavedAt", "UserId", "ClubId1") FROM stdin;
\.


--
-- Data for Name: Tags; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."Tags" ("Id", "Name") FROM stdin;
\.


--
-- Data for Name: Universities; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."Universities" ("Id", "Name", "SecondaryName", "Description", "Location", "Slug", "CreatedAt", "LogoUrl", "OfficialWebsite") FROM stdin;
1	Texas Tech University			Lubbock, TX		2025-08-20 17:48:26.799308+00		
2	University of Texas at Dallas			Dallas, TX		2025-08-20 17:48:26.799309+00		
\.


--
-- Data for Name: UniversityRequests; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."UniversityRequests" ("Id", "UniversityName", "SchoolType", "Location", "OfficialWebsite", "AdditionalInfo", "UserId", "RequestStatus", "RequestedAt", "ProcessedAt", "RejectionReason") FROM stdin;
\.


--
-- Data for Name: UserTag; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."UserTag" ("TagsId", "UsersId") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: ritz
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20250820174827_InitialPostgres	8.0.4
20250822182405_SeedClubs	8.0.4
\.


--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: Categories_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."Categories_Id_seq"', 3, false);


--
-- Name: ClubRequests_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."ClubRequests_Id_seq"', 1, false);


--
-- Name: Clubs_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."Clubs_Id_seq"', 4, false);


--
-- Name: ReviewFlags_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."ReviewFlags_Id_seq"', 1, false);


--
-- Name: ReviewVotes_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."ReviewVotes_Id_seq"', 1, false);


--
-- Name: Reviews_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."Reviews_Id_seq"', 4, false);


--
-- Name: SavedClubs_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."SavedClubs_Id_seq"', 1, false);


--
-- Name: Tags_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."Tags_Id_seq"', 1, false);


--
-- Name: Universities_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."Universities_Id_seq"', 3, false);


--
-- Name: UniversityRequests_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: ritz
--

SELECT pg_catalog.setval('public."UniversityRequests_Id_seq"', 1, false);


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: Categories PK_Categories; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "PK_Categories" PRIMARY KEY ("Id");


--
-- Name: ClubRequests PK_ClubRequests; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ClubRequests"
    ADD CONSTRAINT "PK_ClubRequests" PRIMARY KEY ("Id");


--
-- Name: ClubTag PK_ClubTag; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ClubTag"
    ADD CONSTRAINT "PK_ClubTag" PRIMARY KEY ("ClubsId", "TagsId");


--
-- Name: Clubs PK_Clubs; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Clubs"
    ADD CONSTRAINT "PK_Clubs" PRIMARY KEY ("Id");


--
-- Name: ReviewFlags PK_ReviewFlags; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ReviewFlags"
    ADD CONSTRAINT "PK_ReviewFlags" PRIMARY KEY ("Id");


--
-- Name: ReviewVotes PK_ReviewVotes; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ReviewVotes"
    ADD CONSTRAINT "PK_ReviewVotes" PRIMARY KEY ("Id");


--
-- Name: Reviews PK_Reviews; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "PK_Reviews" PRIMARY KEY ("Id");


--
-- Name: SavedClubs PK_SavedClubs; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."SavedClubs"
    ADD CONSTRAINT "PK_SavedClubs" PRIMARY KEY ("Id");


--
-- Name: Tags PK_Tags; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Tags"
    ADD CONSTRAINT "PK_Tags" PRIMARY KEY ("Id");


--
-- Name: Universities PK_Universities; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Universities"
    ADD CONSTRAINT "PK_Universities" PRIMARY KEY ("Id");


--
-- Name: UniversityRequests PK_UniversityRequests; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."UniversityRequests"
    ADD CONSTRAINT "PK_UniversityRequests" PRIMARY KEY ("Id");


--
-- Name: UserTag PK_UserTag; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."UserTag"
    ADD CONSTRAINT "PK_UserTag" PRIMARY KEY ("TagsId", "UsersId");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_AspNetUsers_UniversityId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_AspNetUsers_UniversityId" ON public."AspNetUsers" USING btree ("UniversityId");


--
-- Name: IX_ClubRequests_CategoryId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_ClubRequests_CategoryId" ON public."ClubRequests" USING btree ("CategoryId");


--
-- Name: IX_ClubRequests_UniversityId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_ClubRequests_UniversityId" ON public."ClubRequests" USING btree ("UniversityId");


--
-- Name: IX_ClubRequests_UserId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_ClubRequests_UserId" ON public."ClubRequests" USING btree ("UserId");


--
-- Name: IX_ClubTag_TagsId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_ClubTag_TagsId" ON public."ClubTag" USING btree ("TagsId");


--
-- Name: IX_Clubs_CategoryId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_Clubs_CategoryId" ON public."Clubs" USING btree ("CategoryId");


--
-- Name: IX_Clubs_UniversityId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_Clubs_UniversityId" ON public."Clubs" USING btree ("UniversityId");


--
-- Name: IX_ReviewFlags_ReviewId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_ReviewFlags_ReviewId" ON public."ReviewFlags" USING btree ("ReviewId");


--
-- Name: IX_ReviewFlags_UserId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_ReviewFlags_UserId" ON public."ReviewFlags" USING btree ("UserId");


--
-- Name: IX_ReviewVotes_ReviewId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_ReviewVotes_ReviewId" ON public."ReviewVotes" USING btree ("ReviewId");


--
-- Name: IX_ReviewVotes_UserId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_ReviewVotes_UserId" ON public."ReviewVotes" USING btree ("UserId");


--
-- Name: IX_Reviews_ClubId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_Reviews_ClubId" ON public."Reviews" USING btree ("ClubId");


--
-- Name: IX_Reviews_UserId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_Reviews_UserId" ON public."Reviews" USING btree ("UserId");


--
-- Name: IX_SavedClubs_ClubId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_SavedClubs_ClubId" ON public."SavedClubs" USING btree ("ClubId");


--
-- Name: IX_SavedClubs_ClubId1; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_SavedClubs_ClubId1" ON public."SavedClubs" USING btree ("ClubId1");


--
-- Name: IX_SavedClubs_UserId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_SavedClubs_UserId" ON public."SavedClubs" USING btree ("UserId");


--
-- Name: IX_UniversityRequests_UserId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_UniversityRequests_UserId" ON public."UniversityRequests" USING btree ("UserId");


--
-- Name: IX_UserTag_UsersId; Type: INDEX; Schema: public; Owner: ritz
--

CREATE INDEX "IX_UserTag_UsersId" ON public."UserTag" USING btree ("UsersId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: ritz
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: ritz
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUsers FK_AspNetUsers_Universities_UniversityId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "FK_AspNetUsers_Universities_UniversityId" FOREIGN KEY ("UniversityId") REFERENCES public."Universities"("Id");


--
-- Name: ClubRequests FK_ClubRequests_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ClubRequests"
    ADD CONSTRAINT "FK_ClubRequests_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id");


--
-- Name: ClubRequests FK_ClubRequests_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ClubRequests"
    ADD CONSTRAINT "FK_ClubRequests_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("Id") ON DELETE CASCADE;


--
-- Name: ClubRequests FK_ClubRequests_Universities_UniversityId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ClubRequests"
    ADD CONSTRAINT "FK_ClubRequests_Universities_UniversityId" FOREIGN KEY ("UniversityId") REFERENCES public."Universities"("Id") ON DELETE CASCADE;


--
-- Name: ClubTag FK_ClubTag_Clubs_ClubsId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ClubTag"
    ADD CONSTRAINT "FK_ClubTag_Clubs_ClubsId" FOREIGN KEY ("ClubsId") REFERENCES public."Clubs"("Id") ON DELETE CASCADE;


--
-- Name: ClubTag FK_ClubTag_Tags_TagsId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ClubTag"
    ADD CONSTRAINT "FK_ClubTag_Tags_TagsId" FOREIGN KEY ("TagsId") REFERENCES public."Tags"("Id") ON DELETE CASCADE;


--
-- Name: Clubs FK_Clubs_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Clubs"
    ADD CONSTRAINT "FK_Clubs_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("Id") ON DELETE CASCADE;


--
-- Name: Clubs FK_Clubs_Universities_UniversityId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Clubs"
    ADD CONSTRAINT "FK_Clubs_Universities_UniversityId" FOREIGN KEY ("UniversityId") REFERENCES public."Universities"("Id") ON DELETE CASCADE;


--
-- Name: ReviewFlags FK_ReviewFlags_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ReviewFlags"
    ADD CONSTRAINT "FK_ReviewFlags_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: ReviewFlags FK_ReviewFlags_Reviews_ReviewId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ReviewFlags"
    ADD CONSTRAINT "FK_ReviewFlags_Reviews_ReviewId" FOREIGN KEY ("ReviewId") REFERENCES public."Reviews"("Id") ON DELETE CASCADE;


--
-- Name: ReviewVotes FK_ReviewVotes_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ReviewVotes"
    ADD CONSTRAINT "FK_ReviewVotes_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: ReviewVotes FK_ReviewVotes_Reviews_ReviewId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."ReviewVotes"
    ADD CONSTRAINT "FK_ReviewVotes_Reviews_ReviewId" FOREIGN KEY ("ReviewId") REFERENCES public."Reviews"("Id") ON DELETE CASCADE;


--
-- Name: Reviews FK_Reviews_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id");


--
-- Name: Reviews FK_Reviews_Clubs_ClubId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_Clubs_ClubId" FOREIGN KEY ("ClubId") REFERENCES public."Clubs"("Id") ON DELETE CASCADE;


--
-- Name: SavedClubs FK_SavedClubs_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."SavedClubs"
    ADD CONSTRAINT "FK_SavedClubs_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id");


--
-- Name: SavedClubs FK_SavedClubs_Clubs_ClubId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."SavedClubs"
    ADD CONSTRAINT "FK_SavedClubs_Clubs_ClubId" FOREIGN KEY ("ClubId") REFERENCES public."Clubs"("Id") ON DELETE CASCADE;


--
-- Name: SavedClubs FK_SavedClubs_Clubs_ClubId1; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."SavedClubs"
    ADD CONSTRAINT "FK_SavedClubs_Clubs_ClubId1" FOREIGN KEY ("ClubId1") REFERENCES public."Clubs"("Id");


--
-- Name: UniversityRequests FK_UniversityRequests_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."UniversityRequests"
    ADD CONSTRAINT "FK_UniversityRequests_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id");


--
-- Name: UserTag FK_UserTag_AspNetUsers_UsersId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."UserTag"
    ADD CONSTRAINT "FK_UserTag_AspNetUsers_UsersId" FOREIGN KEY ("UsersId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: UserTag FK_UserTag_Tags_TagsId; Type: FK CONSTRAINT; Schema: public; Owner: ritz
--

ALTER TABLE ONLY public."UserTag"
    ADD CONSTRAINT "FK_UserTag_Tags_TagsId" FOREIGN KEY ("TagsId") REFERENCES public."Tags"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict GI10YfalcRiV3PwRiP9B4F0y8C6ouLipUXc1yQO44x41IQIzRKl8Y3QsnqdVBCu

